[submodule "Vendor/Packager"]
	path = Vendor/Packager
	url = https://github.com/kamicane/packager.git
[submodule "Vendor/Symfony/Component/ClassLoader"]
	path = Vendor/Symfony/Component/ClassLoader
	url = https://github.com/symfony/ClassLoader
[submodule "Vendor/Symfony/Component/Finder"]
	path = Vendor/Symfony/Component/Finder
	url = https://github.com/symfony/Finder
